$color1: #CC0000FF;
$color2: #8B0000FF;
$color3: #E53935FF;
$color4: #F5F5F5FF;
$color5: #9E9E9EFF;
$color6: #2E2E2EFF;
$color7: #1F1F1FFF;
$color8: #3A3A3AFF;

html, body {
  margin: 0;
  padding: 0;
}

main {
  padding: 2rem 1rem;
  max-width: 1400px;
  margin: 0 auto;
}